// _breakpoints.scss
$breakpoint-xs: 0; // Extra small devices (portrait phones, less than 576px)
$breakpoint-sm: 576px; // Small devices (landscape phones, 576px and up)
$breakpoint-md: 768px; // Medium devices (tablets, 768px and up)
$breakpoint-lg: 992px; // Large devices (desktops, 992px and up)
$breakpoint-xl: 1200px; // Extra large devices (large desktops, 1200px and up)

.home-page-container{
    width: 100%;
    background-color:black;
}

// third section

// team section


// sustainability section


// carousel section
.carousel-section-container{
    margin-top: 100px ;
    // margin-bottom: 100px;
    margin-bottom: 0;
    .carousel-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
            font-weight: 700;
            font-size: 70px;
        }
        p{
            color: white;
            font-size: 25px;
            font-weight: 500;
        }
    
    }
}


// contact us banner
