.scroll-section-outer{
    overflow: hidden;
}
.scroll-section-inner{
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
}
.scroll-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h3{
        color: white;
        font-weight: 700;
        font-size: 30px;
        margin: 0;
    }
   img{
        width: auto;
        height: 70vh;
    }
    .scroll-section-desc{
        display: flex;
        height: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        p{
            color: white;
        }
    }
}