@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'brutalMilkTTF';
    src: url('./assets/Fonts/BrutalMilkNo3-Medium.ttf');
   }

* {
    font-family: 'brutalMilkTTF';
}

img{
    display: block;
    max-width: 100%;
}
body{
        font-family: 'brutalMilkTTF' sans-serif;
    background-color:black;
    /* background-color: #1a1a1a !important;
    background-image: url('./assets/svg/lines4.png') !; */
}

:root{
    --white-color:#ffffff
    --black-color:#000000
    --off-white-color:#f1eee5
}
