@font-face {
    font-family: 'brutal milk';
    src: url('./assets/Fonts/Brutal\ Milk\ No\ 3\ Variable.woff') format('woff');
    /* Add more src declarations for different font weights or styles if needed */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    display: block;
    max-width: 100%;
}
body{
    background-color:black;
    /* background-color: #1a1a1a !important;
    background-image: url('./assets/svg/lines4.png') !; */
}
*{
    font-family: 'brutal milk', sans-serif;
}
:root{
    --white-color:#ffffff
    --black-color:#000000
    --off-white-color:#f1eee5
}
