.team-section-container {
    position: relative;

    img {
        height: 80vh;
        width: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 768px) {
        img {
            height: 50vh;
        }
    }

    @media screen and (max-width: 480px) {
        img {
            height: 30vh;
        }
    }
}

.team-section-overlay-text {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;

    .team-section-btn {
        margin-top: 50px;
    }

    /* Adjust text color as needed */

    @media screen and (max-width: 768px) {
        left: 70%;
        top: 80%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 480px) {
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}