.details-div{
    // background-image: url('../../assets/svg/lines3.png');
    object-fit: cover;
    background-position: center;
}
.contact-container{
    background-image: url('../../assets/svg/lines7.png');
}